// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.join_like {
  padding-top: 0.4em ;
}

.indexTitle {
  margin-left: -0.4em;
}

.newIdeaBtn {
  margin: 1.1em 0 0 0.7em;
}

.glyphicon{
  color:#7f8c8d;
  opacity:0.7;
}

// .glyphicon:hover{
//   color:blue
// }

.clicked {
  color:blue
}

// .notclicked {
//   color:#7f8c8d;
//   opacity:0.7;
// }


.glyphicon {
    font-size: 40px;
}

.fa{
  color:blue;
  opacity:0.7;
}
